/* Colour scheme
#5D789C - blue
#EBEBEB - light grey
#212930 - charcoal
#D4AF37 - metallic gold 
*/

/* Global styles */
/* importing Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "montserrat", sans-serif;
}

.top_element {
    margin-top: 74px; /* Moving top element on page down by height of navbar*/
}

.dark_button {
    background-color: #212930;
    border: solid 2px #212930;
    color: #EBEBEB;
}

.dark_button:hover {
    color:#D4AF37;
    border: solid 2px #D4AF37;
    background-color: #212930;
}
/* Nav bar */
/* Increasing size of title */
.navbar {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.navbar-brand {
    font-size: 2rem;
}

/* Overiding Bootstrap active link styling to make clearer
which page the user is viewing */
.navbar-nav li a.active {
    font-weight: 600 !important;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Hero image  */
#hero {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Biography section */
#bio_image img {
    overflow: hidden;
}

/* Events section */
#events_title {
    background-color: #5D789C;
    padding: 15px;
    color: #EBEBEB;
}

#events .card-body {
    height: 255px; /* Setting min-height to length of longest card for uniformity */
}

/* Making card lengths uniform in events section at various screen sizes*/
@media only screen and (max-width: 1400px) {
    #events .card-body {
        height: 327px;
    }
}

@media only screen and (max-width: 1200px) {
    #events .card-body {
        height: 200px;
    }
}

@media only screen and (max-width: 990px) {
    #events .card-body {
        height: auto;
    }
}

/* Contact section */
/* Adding background image to section */
#contact {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/sheet_music.jpg"); /* Background image from Pexels */
    background-size: cover;
    background-position: 50% 50%;
    padding: 2% 5%;
}

/* Styling header to stand out against background image */
#contact h2 {
    color: #EBEBEB;
}

@media only screen and (max-width: 767px) {
    #contact { /* Changing gradient direction since text is on top at this screen size */
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/sheet_music.jpg"); /* Background image from Pexels */
    }
}

/* Newsletter section */
#newsletter { 
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4)), url(/assets/images/newsletter.jpg); /* Image from Madison Inouye on Pexels */
    background-size: cover;
    padding: 2% 5%;
    min-height: 400px;
}

#newsletter h2{
    color: #EBEBEB;
}

#newsletter form {
    background-color: rgba(255, 255, 255, 0.8);
    color: #212930;
    border-radius: 8px;
    padding: 12px 12px;
}

/* Footer section */
.footer {
    background-color: #212930;
    height: 100px;
}

.footer ul {
    padding: 0px;
    margin: 0px
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    text-decoration: none;
}

.footer ul li a i {
    color: #D4AF37;
}

/* Biography page */
#biography img {
    max-width: 100%;
    height: auto;
}

#biography p {
    font-size: 1.1rem;
}

/* Recordings page */
#recordings_title {
    background-image: url(../images/recordings_image.jpg);
    background-size: cover;
    background-position: 50% 50%;
    padding: 2% 5%;
    min-height: 350px;
    color: #EBEBEB;
}

#recordings p {
    font-size: 1.2rem;
}

/* Enquiries page */
@media only screen and (max-width: 991px) {
    #enquiries_text {
        /* Dark gradient applied over image for readability */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/enquiries_image.jpg);
        background-size: cover;
        color: #EBEBEB;
        padding: 100px 20px;
        font-size: 1.1rem;
    }

    #enquiries_form {
        background-color: #5D789C;
        border-radius: 8px;
        padding: 30px;
        color: #EBEBEB;
    }
}

@media only screen and (min-width: 992px) {
    #enquiries {
        background-image: url(../images/enquiries_image.jpg);
        background-size: cover;
        position: relative;
        min-height: 820px;
    }

    #enquiries_title {
        color: #EBEBEB;
    }

    #text_and_form {
        background-color: rgba(255,255,255,0.5);
        padding: 12px 0;
        border-radius: 8px;
        position: absolute;
        left: 15%;
        right: 15%;
        top: 200px;
        width: auto;
    }
}

/* Error 404 and form confirmation page */
.main {
    height: 87vh;
}

.main .card-body {
    min-height: 150px;
    position: relative;
}

.main .card-body a {
    position: absolute;
    bottom: 12px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.main .bottom_element {
    margin-bottom: 100px; /* adding extra margin as footer is fixed to the bottom of screen */
}