/* Colour scheme
#5D789C - blue
#EBEBEB - light grey
#6B9987 - sage green
#1B2126 - charcoal
#D4AF37 - metallic gold 
*/

/* Global styles */
/* importing Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "montserrat", sans-serif;
}

/* Nav bar */
/* Increasing size of title */
.navbar {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.navbar-brand {
    font-size: 2rem;
}

/* Overiding Bootstrap active link styling to make clearer
which page the user is viewing */
.navbar-nav li a.active {
    font-weight: 600 !important;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Hero image  */
#hero {
    margin-top: 74px; /* Moving image down by height of navbar*/
    max-width: 100%;
    height: auto;
}

/* Biography section */
#bio_image img {
    overflow: hidden;
}

/* Events section */
#events_title {
    background-color: #5D789C;
    padding: 15px;
    color: #EBEBEB;
}

#events .card {
    min-height: 475px; /* Setting min-height to length of longest card for uniformity */
}

/* Contact section */
/* Adding background image to section */
#contact {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/sheet_music.jpg"); /* Background image from Pexels */
    background-size: cover;
    background-position: 50% 70%;
    padding: 2% 5%;
    min-height: 150px;
}

#contact .btn {
    background-color: #1B2126;
    color: #EBEBEB;
}

#contact .btn:hover {
    color:#D4AF37;
    border: solid 2px #D4AF37;
}

/* Styling header to stand out against background image */
#contact h2 {
    color: #EBEBEB;
    /* Removing margin so that the button is vertically alligned properly */
    margin-bottom: 0;
}

/* Footer section */
.footer {
    background-color: #1B2126;
    height: 100px;
}

.footer ul {
    padding: 0px;
    margin: 0px
}
.footer ul li {
    display: inline-block;
}
.footer ul li a {
    text-decoration: none;
}

.footer ul li a i {
    color: #D4AF37;
}